/* Pesan Komentar
---------------------------------------------- */
#pra-comment{
 position: relative;
 background:#0070B0;
 color:#fff;
 padding:10px;
 font:normal 12px trebuchet ms;
 text-align:justify;
 border:3px solid #333;
 margin:15px 0 15px 0;
 line-height: 1.3em;
}
#pra-comment::after, #pra-comment::before {
top: 100%;
border: solid transparent;
content: &quot; &quot;;
height: 0;
width: 0;
position: absolute;
pointer-events: none
}
#pra-comment::before {
border-top-color: #333;
border-width: 15px;
left: 82%;
margin-left: -36px
}
#pra-comment::after {
border-top-color: #0070B0;
border-width: 9px;
left: 82%;
margin-left: -30px
}





img {max-width: 100%;}


/** sidebar widget style**/

#sidebar h2{ color: #ffffff; background:#ff9800; font-weight:bolder; text-align:center; margin: 2px; padding:10px; border-radius: 10px;}
#sidebar a{ text-decoration: none; color: #00a8f0; font-weight:bolder;}
#sidebar ul{margin: 0px; padding:0px; width: 100%; list-style-type:none;}
#sidebar ul li{ background:#304868; margin:10px 10px 10px 10px; padding:10px; color: #ffffff;}
#sidebar ul li:hover{background: #ff0000; border:1px solid #ffffff;}
body {background:#304868;}
#wrapper{ background:transparent; width:90%; margin:auto; overflow-x:hidden; margin-top:80px;}
#header-modif{ 
	background: #ff9800; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(-90deg, #FF0000, #ff9800); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(-90deg, #FF0000, #ff9800); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(-90deg, #FF0000, #ff9800); /* For Firefox 3.6 to 15 */
	background: linear-gradient(-90deg, #FF0000, #ff9800); /* Standard syntax */
	width:100%; 
	text-align:center; 
	margin:0px 0px 2% 0px;
	}
#header-wrapper{ background:transparent; margin: 0px 0px 0px 0px; text-align:center; padding:10px 0px 10px; display:inline-block;}
#content-wrapper{background:#ffffff; margin: 0px 0px 2% 0px; width:60%; display:inline-block; }
#sidebar-wrapper{background:#ffffff;  margin: 0px 0px 2% 0px; width:38%; display:inline-block; float:right;}
#footer-wrapper{ 
	background: #ff9800; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(-90deg, #FF0000, #ff9800); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(-90deg, #FF0000, #ff9800); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(-90deg, #FF0000, #ff9800); /* For Firefox 3.6 to 15 */
	background: linear-gradient(-90deg, #FF0000, #ff9800); /* Standard syntax */
	margin: 0px 0px 2% 0px; text-align:center; color: white; padding:50px; font-size: 20px; }
.header{ }
.main{ margin:10px;}
.sidebar{margin:10px;}
.title a{ color: #ffffff; text-decoration:none; text-align:center;}
.title{ color: #ffffff; font-size: 35px; text-align:center;}

/* social icon style*/
.social-icon {display:block;}



.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}


/*breadcrumb*/

.breadcrumbs {
 font-size: 18px;
 padding: 15px;
 border-radius:10px;
 margin: 10px 0px 20px;
 background:#ff9800;
}

.bradcrumbs span a{ text-decoration: none;}

/***style judul post***/
h1.post-title, h2.post-title, h3.post-title, post-title, h1.post-title a, h2.post-title a, h3.post-title a{
color : #ff0000;
text-decoration:none;
font-weight:bolder;
font-size:35px;
text-align:center;
}

/**style tanggal post**/
.date-header{ background: #ff9800; color: #ffffff; border-radius:10px; padding: 10px;}

/*****navigation style****/
#nav-wrapper{ width:100%; text-align:center; background:transparent; margin-bottom:2%;}
#check-menu {display:none;}
#label-check-menu {display:none;}
#navigation tr th{background:#ff0000; margin:15px; border-radius:2px; padding:10px;}
#navigation tr th:hover{background:#304868; border:1px solid #ff0000;}
.drop { display:none; position:absolute; background:transparent; margin-top:15px;}
th:hover .drop{ display:block;}

#navigation tr th a{ text-decoration:none; color:white;}
#navigation tr th ul{padding:0px; border-radius:2px;}
#navigation tr th ul li{list-style-type:none; background:#304868; margin:5px; padding:5px; border-radius:2px;}

/****style artikel post****/

.red{
 
 color:red;
 
 }
 
 .blue{
 
 
 color:blue;
 
 }
 
 .green{
 
 color:green;
 
 }
 
 .black{
 
 color:black;
 }

 
.table-wrapper {

width:100%;
overflow-x:auto;
}
.table {

width:100%;

}

.table tbody tr th, .table tbody tr td{

border:1px solid red;
}


strong {
color:red;
}

a{

text-decoration:none;

}

p {
font-family:fantasy;
font-size:20px;
}

.example {
min-height:100px;
font-size:16px;
width:90%;
background:#401800;
color:#ffffff;
padding:10px;
box-shadow: 10px 10px 8px rgba(0, 0, 0, .5);
}

.example p{
font-size:20px;

}

.pre-wrapper {
min-height:100px;
width:100%;
overflow-x:auto;
background:#ffffff;
border-left:4px solid red;
color:black;
}

.pre-wrapper h1, .pre-wrapper h2, .pre-wrapper h3, .pre-wrapper h4, .pre-wrapper h5, .pre-wrapper h6{

color:black;

}

pre {
width:100%;
font-weight:bolder;
}



.list-wrapper ol, .list-wrapper ul{

background:#401800;

}
.list-wrapper ol li, .list-wrapper ul li{
 
 background:red;
 color:white;
 margin-bottom:5px;
 text-align:left;
 font-size: 25px;
 padding-left:3px;
 }
 

.list-wrapper ol li:hover, .list-wrapper ul li:hover {
 
 background:#9CCC65;
 color:white;
 font-size:28px;
 border-radius:10px;
 }
 
.list-wrapper ol li a, .list-wrapper ul li a{
 
text-decoration:none;
color:white;
 }

.browser-suport {
width:100%;
background:#401800;
}

.browser-suport tr th, .browser-suport tr td {
border:1px solid red;
text-align:center;
background:white;
}

.browser-suport tr th svg, .browser-suport tr td svg{
width:50px;
}



/***contact-footer**/

.contact-footer {width:100%; background:transparent;}
.contact-footer table {width:100%;}
.contact-footer table tr th {padding:10px; margin:10px; background:#304868; color:white;}
.contact-footer table tr th:hover{background:#ff0000; border:1px solid #000000;}
.contact-footer table tr th a{ color:white; text-decoration:none;}



@media screen and (max-width: 768px) {
	
	/**responsive navigation****/
	
	
	#label-check-menu{margin:10px; border:1px solid white; padding:10px; background:#304868; color:#ffffff; font-weight:bolder;}
	#check-menu {display:none;}
	#label-check-menu {display:inline-block;}
	#navigation { width:100%;}
	#navigation tr th{display:none; background:#304868;}
	#navigation tr th:hover {background:#ff0000; border:1px solid #ffffff;}
	.drop{position:relative; margin-top:15px; background:#304868;}
	#nav-wrapper{background: #ff9800; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(-90deg, #FF0000, #ff980;); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(-90deg, #FF0000, #ff9800); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(-90deg, #FF0000, #ff9800); /* For Firefox 3.6 to 15 */
	background: linear-gradient(-90deg, #FF0000, #ff9800); /* Standard syntax */
	}
	
	#check-menu:checked ~ #navigation tr th{display: block;}
	
	/*** template responsive***/
	#content-wrapper{ width: 100%;}
	#sidebar-wrapper{ width: 100%; float:left; margin-bottom:2%;}
	
	/***contact-footer responsive***/
	.contact-footer table tr th{display:block;}
}



.comments {
  clear: both;
  margin-top: 10px;
  margin-bottom: 0px;
  line-height: 1em;
}
.comments .comments-content {
  font-size: 12px;
  margin-bottom: 16px;
font-family: Verdana;
font-weight: normal;
text-align:left;
line-height: 1.4em;
}
.comments .continue a, .comments .comment .comment-actions a {
display:inline;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
padding: 2px 5px;
text-decoration: none;
text-shadow:0 1px 1px rgba(0,0,0,.3);
color:#FFF;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
box-shadow: 0 1px 2px rgba(0,0,0,.2);
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
margin-right: 10px;
border: 1px solid #3079ED;
background: #0066FF;
background: -webkit-gradient(linear, left top, left bottom, from(#0099FF), to(#009999));
background: -moz-linear-gradient(top, #0099FF, #009999);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=&#39;#0099FF&#39;, endColorstr=&#39;#009999&#39;);
}
.comments .continue a:hover, .comments .comment .comment-actions a:hover {
  text-decoration: none;
background:#0099FF;
background: -webkit-gradient(linear, left top, left bottom, from(#009999), to(#0099FF));
background: -moz-linear-gradient(top, #009999, #0099FF);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=&#39;#009999&#39;, endColorstr=&#39;#0099FF&#39;);
}
.comments .continue a:active, .comments .comment .comment-actions a:active {
position: relative;
top:1px;
background: -webkit-gradient(linear, left top, left bottom, from(#0066FF), to(#0099CC));
background: -moz-linear-gradient(top, #0066FF, #0099CC);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=&#39;#0066FF&#39;, endColorstr=&#39;#0099CC&#39;);
}

.comments .comments-content .comment-thread ol {
  list-style-type: none;
  padding: 0;
  text-align: none;
}
.comments .comments-content .inline-thread {
  padding: 0.5em 1em 0 1em;
}
.comments .comments-content .comment-thread {
  margin: 8px 0px 0px 0px;
}
.comments .comments-content .comment-thread:empty {
  display: none;
}
.comments .comments-content .comment-replies {
  margin-top: 1em;
  margin-left: 40px;   font-size:12px;
}
.comments .comments-content .comment {
  padding-bottom:8px;
  
  margin-bottom: 0px
  }
  .comments .comments-content .comment:first-child {
  padding-top:16px;
  }
  .comments .comments-content .comment:last-child {
  border-bottom:0;
  padding-bottom:0;
  }
  .comments .comments-content .comment-body {
  position:relative;
  }
  .comments .comments-content .user {
  font-style:normal;
  font-weight:bold;
  }
  .comments .comments-content .user a {
  color: #444;
  }
  .comments .comments-content .user a:hover {
  text-decoration: none;
  color: #555;
  }
  .comments .comments-content .icon.blog-author {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin: 0 0 -4px 6px;
  }
  .comments .comments-content .datetime {
  margin-left:6px;
  color: #999;
  font-style: italic;
  font-size: 11px;
  float: right;
  }
  .comments .comments-content .comment-content {
  font-family: Arial, sans-serif;
  font-size: 12.5px;
  line-height: 19px;
  }
  .comments .comments-content .comment-content {
  font-family: Arial, sans-serif;
  font-size: 12.5px;
  line-height: 19px;
  text-align:none;
  margin: 15px 0 15px;
  }
  .comments .comments-content .owner-actions {
  position:absolute;
  right:0;
  top:0;
  }
  
  .comments .comments-replybox {
  border: none;
  height: 250px;
  width: 100%;
  }
  .comments .comment-replybox-single {
  margin-top: 5px;
  margin-left: 48px;
  }
  .comments .comment-replybox-thread {
  margin-top: 5px;
  }
  .comments .comments-content .loadmore a {
  display: block;
  padding: 10px 16px;
  text-align: center;
  }
  .comments .thread-toggle {
  cursor: pointer;
  display: inline-block;
  }
  .comments .comments-content .loadmore {
  cursor: pointer;
  max-height: 3em;
  margin-top: 3em;
  }
  .comments .comments-content .loadmore.loaded {
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
  }
  .comments .thread-chrome.thread-collapsed {
  display: none;
  }
  .comments .thread-toggle {
  display: inline-block;
  }
  .comments .thread-toggle .thread-arrow {
  display: inline-block;
  height: 6px;
  width: 7px;
  overflow: visible;
  margin: 0.3em;
  padding-right: 4px;
  }
  .comments .thread-expanded .thread-arrow {
  background: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAc AAAAHCAYAAADEUlfTAAAAG0lEQVR42mNgwAfKy8v/48I4FeA0AacVDFQBAP9wJkE/KhUMAAAAAElFTkSuQmCC&quot;) no-repeat scroll 0 0 transparent;
  }
  .comments .thread-collapsed .thread-arrow {
  background: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA AcAAAAHCAYAAADEUlfTAAAAJUlEQVR42mNgAILy8vL/DLgASBKnApgkVgXIkhgKiNKJ005s4gDLbCZBiSxfygAAAAB JRU5ErkJggg==&quot;) no-repeat scroll 0 0 transparent;
  }
  .comments .avatar-image-container {
  float: left;
  overflow: hidden;
  }
  .comments .avatar-image-container img {
  width: 36px;
  }
  .comments .comment-block {
  margin-left: 48px;
  position: relative;
  padding: 15px 20px 15px 20px;
  background: #F7F7F7;
  border: 1px solid #E4E4E4;
  overflow: hidden;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-image: initial;
  }
  
  
  /*daftar artikel*/
 
.title_widget {background:#ff9800; color:#ffffff; padding:10px; text-align:center; margin-bottom:0px; border-radius:10px 10px 0px 0px;}
.petunjuk_list {background:#ff9800; color:#ffffff; padding:10px; text-align:center; margin-bottom:0px; border-radius:0px 0px 10px 10px; display:block;}
.title_list {background:red; text-align:left; padding:10px; color:#ffffff; margin:10px 10px 0px 10px; }
.daftar_isi {background:#ffffff; padding:10px 0px 10px 0px;}
.list_wrapper {max-height:200px;overflow-x:auto;  border:20px solid #401800; margin:0px 10px 0px 10px; padding-right:10px;

/* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#000000, #ffffff, #000000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#000000, #ffffff, #000000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#000000, #ffffff, #000000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#000000, #ffffff, #000000); /* Standard syntax */
}
.list_wrapper ol li a{color:#000000; text-decoration:none; }
.list_wrapper ol li{margin-bottom:5px; border-bottom:1px solid #000000; padding-bottom:10px;}
.list_wrapper ol{color:#000000;}
.title_list:hover ~ .list_wrapper{display:block;}
.title_list:hover {background:#ffffff; color:#000000;}
.list_wrapper ol li:hover {color:#ff0000; border-bottom:1px solid #ff0000;}
.list_wrapper ol li a:hover {color:#ff0000;}
.title_program {margin-bottom:75px;}
/* width */
::-webkit-scrollbar {
  width: 70px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #ff0000;
  border-radius:0px;
  border:0px solid #401800;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00a8f0;
  border-radius:10px;
  box-shadow:0px 0px 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

.jumlah_list {position:relative; top:-5px; right:0px;  float:right; color:#ffffff; padding:5px; background:#42A5F5; border-radius:5px 5px 5px 5px; margin:0px;}
.perluas {width:100px; background:#401800; color:white; text-align:center; margin:auto; border-width:0px 0px 50% 50%;}
.perluas {
         width: 140px;
         background-color: #401800;
         color: #fff;
         z-index: 1;
         bottom: 0px;
         margin:auto;
         text-align: center;
         border-radius: 0px;
         padding: 5px 0;
         position:relative;
         display:block;
         font-size:20px;
         outline-width:0px;
      }

      
     .perluas:after {
     outline-width:0px;
     width:1px;
         content: &quot;&quot;;
         position: absolute;
         top: 100%;
         left: 0px;
         right:0px;
         border-width:70px;
         border-style: solid;
         border-color: #401800 transparent transparent transparent;
      }
.radio_key {display:none;}
#HTML_key:checked ~ #list_wrapper_HTML, 
#CSS_key:checked ~ #list_wrapper_CSS, 
#JavaScript_key:checked ~ #list_wrapper_JavaScript, 
#PHP_key:checked ~ #list_wrapper_PHP, 
#MySql_key:checked ~ #list_wrapper_MySql, 
#JAVA_key:checked ~ #list_wrapper_JAVA, 
#Cplusplus_key:checked ~ #list_wrapper_Cplusplus
{max-height:1000px; background:#ffffff;}
